<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="reBot-DevArm_fixend">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.85734193190318E-05 -3.14893917816028E-08 0.0235694730998748"
        rpy="0 0 0" />
      <mass
        value="0.719994590495512" />
      <inertia
        ixx="0.000915098415293508"
        ixy="1.16624299234023E-08"
        ixz="-2.77627033649579E-07"
        iyy="0.00159394997606591"
        iyz="-3.83853691579024E-10"
        izz="0.00234792471513731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.00946544445312927 -0.000916580237430832 0.0265782762061412"
        rpy="0 0 0" />
      <mass
        value="0.0474137994557966" />
      <inertia
        ixx="6.36839627695188E-05"
        ixy="-1.55440663246564E-11"
        ixz="-7.08508824336641E-06"
        iyy="3.98844280553226E-05"
        iyz="-4.4556429003454E-11"
        izz="5.92016142489911E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0708"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="27"
      velocity="50" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.132889542584872 -0.003258224978752 -0.0349384843366669"
        rpy="0 0 0" />
      <mass
        value="0.739226251844668" />
      <inertia
        ixx="0.000256114561344732"
        ixy="-6.74416097640004E-06"
        ixz="4.81792944649058E-10"
        iyy="0.00206193618710208"
        iyz="4.37044735910569E-07"
        izz="0.00205913873630619" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.02 0.035625 0.0497"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="27"
      velocity="50" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.123937952105152 -0.0545951132444595 -0.0352155733412803"
        rpy="0 0 0" />
      <mass
        value="0.517217816239094" />
      <inertia
        ixx="0.000154448088504725"
        ixy="1.31408569477724E-05"
        ixz="-1.08370172627092E-09"
        iyy="0.00131521837345199"
        iyz="2.77287281258215E-07"
        izz="0.00130884871979224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.264 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="27"
      velocity="50" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0605173509890757 -0.0515591812721402 -0.0304480106784497"
        rpy="0 0 0" />
      <mass
        value="0.192697131774934" />
      <inertia
        ixx="8.02180695386143E-05"
        ixy="1.80653906847015E-05"
        ixz="4.16372809232252E-08"
        iyy="0.00011283880277066"
        iyz="-1.27766109264829E-07"
        izz="0.000110011824792294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.2426 -0.054 -0.005625"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.87"
      upper="1.57"
      effort="7"
      velocity="200" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.0050794127558127 0.00010101378072503 0.0368401332519827"
        rpy="0 0 0" />
      <mass
        value="0.132385396678886" />
      <inertia
        ixx="5.35384612243393E-05"
        ixy="2.77627187996669E-07"
        ixz="3.09969892642944E-06"
        iyy="4.65021943386178E-05"
        iyz="1.16620238873388E-08"
        izz="4.49715503183576E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.078308 -0.0355 -0.03"
      rpy="-1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="7"
      velocity="200" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-3.8781691230616E-07 0.000113777214552087 0.0230647909060226"
        rpy="0 0 0" />
      <mass
        value="0.11789729559246" />
      <inertia
        ixx="3.88080010698203E-05"
        ixy="-1.17785351596058E-08"
        ixz="-3.87297996334965E-10"
        iyy="3.85559589025659E-05"
        iyz="2.77632235790657E-07"
        izz="4.97947305166078E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.027192 0 0.038"
      rpy="0 1.5708 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="7"
      velocity="200" />
  </joint>
  <link
    name="end_link">
    <inertial>
      <origin
        xyz="-0.0725515914083579 -2.48849641689627E-05 8.93997475285291E-05"
        rpy="0 0 0" />
      <mass
        value="0.144462872984956" />
      <inertia
        ixx="0.000184957886333639"
        ixy="2.96738638766954E-12"
        ixz="2.85406142523417E-09"
        iyy="3.17608917694512E-05"
        iyz="2.09841553499463E-08"
        izz="0.000178869005286531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/end_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot-DevArm_description_fixend/meshes/end_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_joint"
    type="fixed">
    <origin
      xyz="-0.00018697 -5.9452E-05 0.14921"
      rpy="0 -1.5708 3.1415" />
    <parent
      link="link6" />
    <child
      link="end_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>